@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    /* Color Palette */
    --light: #EDF2F4;
    --tiles: #8D99AE;
    --dark: #2B2D42;
    --hit: #D90429;
    --miss: #D9BC04;
    --ship-color: #0439D9;

    /* Gaps */


    /* Other */

    --border-radii: 5px;
}

body {
    margin: 0;

    font-family: Roboto, sans-serif;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: minmax(50px, 10vh) 1fr minmax(50px, 10vh);

    background-color: var(--light);
}

.header {
    grid-column: 1 / 3;
    width: 100vw;

    background-color: var(--dark);
    color: var(--light);

    display: flex;
    justify-content: center;
    align-items: center;
}

    .header-text {
        margin: 0;
        font-size: 2rem;
    }

.container {
    grid-column: 1 / 3;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
}

    .description {
        display: flex;
        flex-direction: column;
        margin-top: 48px;
        align-items: center;
    }

        .small-desc {
            font-size: 0.7rem;
        }

    .player-input {
        grid-row: 2 / 3;
        grid-column: 1 / 3;
        padding-top: 48px;
        margin: auto;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 12px;
    }

    .gameboards {
        display: flex;
        margin: 48px;
        justify-content: space-around;
    }

    .board {
        display: grid;
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(10, 1fr);
        gap: 5px;

        /* display: flex;
        flex-wrap: wrap;
        width: 100vw; */

    }

.ui {
    grid-column: 1 / 3;
    grid-row: 3 / 4;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

    .button-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }

    .tile {
        min-height: 30px;
        min-width: 30px;
        background-color: var(--tiles);
        outline: var(--dark) 1px solid;
        border-radius: var(--border-radii);
    }
    
    .tile:hover {
        cursor: pointer;
    }

    .ship {
        background-color: var(--ship-color);
    }

    .miss {
        background-color: var(--miss);
    }

    .hit {
        background-color: var(--hit);
    }


input[type="text"] {
    padding: 5px;
    border-radius: var(--border-radii);
    border-style: none;
    outline: 1px solid var(--dark);
}

/* Button */
input[type="button"], 
input[type="submit"]  {
  align-items: center;
  background-clip: padding-box;
  background-color: var(--dark);
  border: 1px solid transparent;
  border-radius: var(--border-radii);
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: system-ui,-apple-system,system-ui,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  margin: 0;
  min-height: 1rem;
  padding: calc(.875rem - 1px) calc(1.5rem - 1px);
  position: relative;
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: 100%;
}

input[type="button"]:hover,
input[type="button"]:focus,
input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: var(--dark);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

input[type="button"]:hover, 
input[type="submit"]:hover {
  transform: translateY(-1px);
}

input[type="button"]:active, 
input[type="submit"]:active {
  background-color: var(--dark);
  box-shadow: rgba(0, 0, 0, .06) 0 2px 4px;
  transform: translateY(0);
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    backdrop-filter: blur(200px); /* blur of the elements behind it */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }