.container {
    display: flex;
    gap: 12px;
}

.board {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;

}

    .tile {
        height: 10%;
        width: 10%;
        background-color: rgb(186, 186, 186);
        outline: black 1px solid;
    }
    
    .tile:hover {
        cursor: pointer;
    }

    .ship {
        background-color: blue;
    }

    .miss {
        background-color: yellow;
    }

    .hit {
        background-color: red;
    }